{{ if .Site.Data.homepage.interests.enable }}
<section class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down">{{ .Site.Data.homepage.interests.title }}</h2>
        <div class="row row--padded mb-0 rad-fade-down">
            {{ range .Site.Data.homepage.interests.items }}
            <div class="col-12 col-md-4 mb-5 mb-md-0 interests">
                <i class="icon-arrow-right"></i>
                <p>
                    {{ .content }}
                </p>
                <div class="interests__author">
                    {{ $img := resources.Get .image.x }}
                    {{ $img2x := resources.Get .image._2x }}
                    {{ $imgWebp := $img.Resize (printf "%dx%d webp q75 Lanczos picture" $img.Width $img.Height) }}
                    {{ $img2xWebp := $img2x.Resize (printf "%dx%d webp q75 Lanczos picture" $img2x.Width $img2x.Height)
                    }}

                    <div class="interests__author-info">
                        <h4>{{ .name }}</h4>
                        <span>{{ .position }}</span>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}